*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

.menu-container {
  position: relative;
  margin: 20px;
  background: white;
  color: black;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  box-sizing: border-box;
  font-size: 20px;
}

.nav-div{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav-items{
  display: flex;
  gap: 40px;
  border-bottom: 3px solid white;
}

.nav-item{
  cursor: pointer;
  padding: 5px 20px;
  border-bottom: 3px solid white;
}

.nav-item:hover{
 border-bottom: 3px solid green;
}

.hero{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 40px;

}

.hero-img{
  width: 700px;
  border-radius: 12px;
}

.hero-text{
  padding: 20px;
  margin: 10px;
}

.hero-h1{
  font-size: 62px;
  margin-bottom: 24px;
}

.green{
  color: rgba(70, 117, 0, 0.495);
}

.hero-h2{
  font-size: 36px;
  border-bottom: 4px solid rgb(5, 83, 5);
}

.btn{
  padding: 10px 20px;
  background-color: rgb(5, 83,5);
  border: none;
  color: white;
  margin-top: 20px;
  align-self: right;
  border-radius: 6px;
  font-size: 18px;
}

/* Why Us */
.whyus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.whyusItems{
  display: flex;
  gap: 20px;
}

.whyusItem{
  width: 360px;
  border-radius:5px;
  padding: 10px 20px;
  letter-spacing: 0.6px;
  line-height: 1.4;
}

.whyusH2{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}

.whyusP2{
  color: rgb(96, 95, 95);
}

.h1{
  font-size: 38px;
  border-bottom: 4px solid rgb(5, 83, 5);
  padding: 5px 20px;
}

.image-slider{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  flex-direction: column;

}
.image-slider h1{
  margin: 28px;
}

